<!DOCTYPE html>

<html>
    <head>
       
    </head>
    
    <body>
        <header th:fragment="header">
            <section id="seccion">
            <h1 style="color:red; " >MaPaMundi</h1>
            <div class="conte">
                
                <h2 style="color:blue; " >Bienvenidos a MaPaMundi</h2>
                
                <div >
                <a href="#">Ingresar</a>
                <a href="#">Registrarse</a>
                </div>
            </div>
            </section>
        </header>
        <footer th:fragment="footer">
            <p>&COPY; Derechos Reservados 2023</p>
        </footer>
    </body>
</html>
