<!DOCTYPE html>

<html>
    <head>
    <link href="../../../../../../../Tarea_01/src/main/resources/static/CSS/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:fragment="header">
            <section>
            <h1>MaPaMundi</h1>
            <div class="conte">
                <p>Bienvenidos a MaPaMundi</p>
                <a href="#">Ingresar</a>
                <a href="#">Registrarse</a>
            </div>
            </section>
        </header>
        <footer th:fragment="footer">
            <p>&COPY; Derechos Reservados 2023</p>
        </footer>
    </body>
</html>
